VITE_FIREBASE_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_FIREBASE_AUTH_DOMAIN=ibis-tuzla-stock.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ibis-tuzla-stock
VITE_FIREBASE_STORAGE_BUCKET=ibis-tuzla-stock.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=952788280577
VITE_FIREBASE_APP_ID=1:952788280577:web:ff58967cb9b1a36bc6a700
